body{
    margin: 0px;
    padding: 0px;
    background:black;
}

#ph video {
    width: 350px;
    height: 500px;
    

}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

a{
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    align-items: center;
    margin-left: 44%;
    padding: opx;
    /* border:2px solid red; */
}
#ph{
    /* border: 2px solid red; */
    margin-top:15px;
    display: inline-block;
    margin-left: 40%;
    padding: opx; 
}
h2{
    color: white;
    font-size: 42px;
    font-weight: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -140px;
     /* border: 2px solid red;  */
     display: inline-block;
}
h3{
    color: gray;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 2px solid red; */
    margin: 0%;
    padding: 0%;
    margin-left:-43%;
    display: inline-block;
    padding: 0px;

}
#camp{
    /* border: 2px solid red; */
    display: inline-flex;
    margin-left: 20%;
    margin-top: 20px;
}
#phn{
    /* border: 2px solid red; */
    align-content: center;
    margin-left: 44%;
    display: inline-block;
    margin-top: 20px;

}
#li{
    margin-bottom: 20px;
}
#li h2{
    color: gray;
    text-align: right;
    margin-right: 30px;
    font-size: 27px;
    
    margin-left: 80%;
}