body{
    background:black;
}
#ph{
   /* border: 2px solid red;*/ 
    margin-top: 10%;
    display: inline-block;
    margin-left: 40%;
    padding: opx;
}
#ph video {
    width: 350px;
    height: 500px;
    

}
